* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.form-section {
    width: 50%;
    border: 1px solid gray;
    padding: 20px;
    position: absolute;
    left: 25%;
    top: 60px;
}

#content-section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.image-container {
    position: relative;
}

.home-image {
    position: absolute;
}