{% extends 'blog/base.html' %} {% load static %} {% block title %}Profile{% endblock title %} {% block body %}
<div class="flex items-center justify-center mt-10">
    <div class="rounded rounded-t-lg overflow-hidden shadow max-w-xs">
        <img src="{% static 'users/img/profile_back.jpg' %}" class="w-full h-40" />
        <div class="flex justify-center -mt-8">
            <img src="{{user.profile.image.url}}" class="rounded-full border-solid border-white border-2 -mt-3 h-48 w-48">
        </div>
        <div class="text-center px-3 pb-2 pt-2">
            <h3 class="text-black text-sm bold font-sans">{{user.first_name}} {{user.last_name}}</h3>
            <h3 class="mt-2 text-black text-sm bold font-sans">Username: {{user.username}}</h3>
            <h3 class="text-black text-sm bold font-sans">Email: {{user.email}}</h3>
        </div>
        <div class="edit-icon flex justify-center mb-2">
            <a href="{% url 'EditProfile' %}"><i class="fas fa-edit"></i></a>
        </div>
        <div class="flex justify-center pb-3 text-grey-dark">
            <div class="text-center">
                <span>Blogs | {{postCount}}</span>
            </div>
        </div>
    </div>
</div>
{% endblock body %}